.addProduct {
    display: flex;
    flex-wrap: wrap;
}

.addProduct img {
    width: 300px;
}

.addProductItem {
    margin-top: 20px;
    margin: auto;
    text-align: center;
    background: rgb(46, 46, 12);
    color: cyan;
    margin-top: 20px;
}

@media only screen and (max-width: 960px) and (min-width: 650px){
    .addProductItem {
        width: 47%
    }

    .addProduct img {
        width: 100%;
    }
}

@media only screen and (max-width: 640px) {
    .addProductItem {
        width: 100%
    }

    .addProduct img {
        width: 100%;
    }
}