.mainContent{
    display: flex;
    flex-direction: column;
    background: rgb(15, 61, 61);
}

.searchDiv {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.searchDiv input {
  width: 40%;
  height: 35px;
  border-radius: 10px;
}

.customerInfo {
  display: flex;
  flex-wrap: wrap;
}

.info {
  text-align: center;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 600px){
  .info {
    width: 95%;
  }

  .searchDiv input {
    width: 90%;
  }
}