@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

.homepage {
  display: flex;
  flex-direction: column;
  /* background: url('../images/new-image.png') no-repeat; */
  /* background-color: #FCB304; */
  margin-bottom: 20px;
  overflow: hidden;
}

.homeContent {
  display: flex;
  margin-top: 20px;
}

.caption {
  width: 40%;
  margin-bottom: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
}

/* .caption img {
  width: 300px;
  height: 400px;
} */

.forImage {
  margin: auto;
}

.homeText {
  font-size: calc(20px + 2vh);
font-family: "Sacramento", cursive;
min-height: 30px;
text-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0;
  background: #003049;
  color: #ffffff;
}

@media only screen and (max-width: 768px) and (min-width: 610px){
  .homeContent {
    display: flex;
    flex-direction: column;
  }
  .caption img {
    width: 100%;
  }

  .forImage {
    padding-left: 20px;
  }
}

@media only screen and (max-width: 600px){
  .homeContent {
    display: flex;
    flex-direction: column;
  }

  .caption {
    margin: 0;
    width: 100%;
  }

  
  .forImage {
    width: 100%;
    padding-left: 20px;
  }

  .forImage img {
    width: 100%;
  }
}

