@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

.homepage {
  display: flex;
  flex-direction: column;
  /* background: url('../images/new-image.png') no-repeat; */
  /* background-color: #FCB304; */
  margin-bottom: 20px;
  overflow: hidden;
}

.categoryItems {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.homeContent {
  display: flex;
  margin-top: 20px;
}

.caption {
  width: 40%;
  margin-bottom: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
}

/* .caption img {
  width: 300px;
  height: 400px;
} */

.searchContainer {
  display: flex;
  align-items: center;
  width: 50%;
  margin: auto;
  margin-top: 10px;
}

.searchContainer input {
    width: 100%;
    height: 40px;
    outline: none;
    border:1px solid white;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
    background: #003049;
}

.forImage {
  margin: auto;
}

.homeText {
  font-size: calc(20px + 2vh);
font-family: "Sacramento", cursive;
min-height: 30px;
text-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0;
  background: #003049;
  color: #ffffff;
}

.carousel {
  width: 100%;
  margin-top: 10px;
}

.slider {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.carouselItem img {
  width: 100%;
  height: 400px;
}

.labels {
  text-align: center;
  width: 100%;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ffffff;
  background: green;
  font-weight: bolder;
}

.homeTheatre {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 10px;

}

.homeTheatreItem {
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.homeTheatreItem div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.homeTheatreItem div p{
  font-weight: bold;
  margin-bottom: 10px;
}

.homeTheatre img{
  height: 150px;
  width: 150px;
}

.categoryText {
  margin-top: 10px;
  background: #003049;
}

.linkImages{
  width: 100px;
  height: 100px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

@media only screen and (max-width: 768px) and (min-width: 610px){
  .homeContent {
    display: flex;
    flex-direction: column;
  }
  .caption img {
    width: 100%;
  }

  .forImage {
    padding-left: 20px;
  }

  .carouselItem img {
    height: 300px;
  }

  
}

@media only screen and (max-width: 600px){
  .homeContent {
    display: flex;
    flex-direction: column;
  }

  .caption {
    margin: 0;
    width: 100%;
  }
  
  .forImage {
    width: 100%;
    padding-left: 20px;
  }

  .forImage img {
    width: 100%;
  }

  .carouselItem img {
    height: 150px;
  }

  .searchContainer {
    width: 100%;
  }
  
}

