.basket {
  
  display: flex;
  flex-direction: column;
}

.cartItems {
    display: flex;
    flex-wrap: wrap;
}

.cartItemsDiv {
  margin: auto;
  margin-top: 20px;
}

.cartItemsDiv img {
    width: 300px;
    height: 150px;
}

.cartItemsButtons button{
  color: #ffffff;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 5px;
}

.checkoutDiv {
  border: 1px solid red;
}

@media only screen and (max-width: 960px){
    .cartItemsDiv {
        width: 100%;
      }

      .cartItemsDiv img {
        width: 100%;
    }
}