.basket {
  
  display: flex;
  flex-direction: column;
}

.cartItems {
    display: flex;
    flex-wrap: wrap;
}

.cartItemsDiv {
  margin: auto;
  margin-top: 20px;
}

.cartItemsDiv img {
    width: 300px;
    height: 150px;
}

.cartItemsButtons button{
  color: #ffffff;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 5px;
}

.checkoutDiv {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutDiv button{
  outline: none;
}

.orderForm {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.orderField {
  width: 40%;
  padding: 10px;
}

.totalPrice {
  font-weight: 700;
}

.modalCloseOrder {
  width: 30px;
  background: red;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  font-weight: bolder;
}

.modalOrder {
  margin-top: 120px;
  float: center;
  
}

.boxOrder {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 960px) and (min-width: 768px){

  .cartItemsDiv {
    width: 47%;
    margin: auto;
  }

      .cartItemsDiv img {
        width: 100%;
        height: 200px;
    }

    .orderField {
      width: 100%;
    }
}

@media only screen and (max-width: 767px){
  .cartItemsDiv {
    width: 100%;
  }

  .cartItemsDiv img {
    width: 100%;
    height: 200px;
}

.orderField {
  width: 100%;
}
}