.theModal {
    background: rgb(12, 12, 46);
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    max-height: 100vh;
    overflow-y: auto;
}

.modalClose {
    width: 30px;
    background: red;
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    font-weight: bolder;
}

.cartButton {
    width: 50%;
    background: transparent;
    color: cyan;
    border: 3px solid white;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
}

.modalDiv {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.modalDiv p {
    color: #ffffff;
    margin-top: 10px;
}

.modalDiv img {
    width: 50%;
}

.productDesc {
    width: 420px;
}

@media only screen and (max-width: 960px) {
    .theModal {
        max-width: 100%;
    }

    .modalDiv {
        width: 100%;
    }

    .productDesc {
        width: 100%;
    }

    .cartButton {
        max-width: 100%;
    }

    .modalDiv img {
        width: 100%;
    }

    .modalDiv p {
        font-size: 20px;
    }

    .cartButton {
        width: 100%;
    }
}