.contactPage {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.contactDiv {
  text-align: center;
}

.formik {
    width: 40%;
    padding: 20px;
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
}

.socialHandles {
    text-align: center;
    line-height: 30px
}

.socialHandles a, p {
    cursor:pointer;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 768px){
  .formik {
      width: 100%;
  }
}