.theOrderDiv {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.orderContent {
  margin: auto;
  text-align: center;
  background: black;
  color: cyan;
  margin-top: 20px;
}

.orderContent img {
    width: 300px;
    height: 200px;
}

@media only screen and (max-width: 960px) and (min-width: 650px){
    .orderContent {
      width: 48%;
    }

    .orderContent img {
        width: 100%;
    }
}

@media only screen and (max-width: 600px){
    .orderContent {
      width: 100%;
      margin: 0;
      margin-top: 20px;
    }

    .orderContent img {
        width: 100%;
    }
}