* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nameOfUser {
  font-size: 12px;
  font-weight: 700;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #fff, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-transform: translateZ(0);
}

.loginBackground {
  background: url('./images/bg-2.jpg') no-repeat;
  background-size: cover;
}

.textInput {
  margin-top: 20px;
  border: 1px solid red;
}

@keyframes animate {
  0% {
    background-position: -500%;
  }

  100% {
    background-position: 500%;
  }
}