* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nameOfUser {
  font-size: 12px;
  font-weight: 700;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #fff, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-transform: translateZ(0);
}

.loginBackground {
  background: url('./images/login.jpg') no-repeat;
  background-size: cover;
}

.loginBackground p {
  color: red;
  font-weight: 700;
}

.companyLogo {
  margin-left: -24px;
  background: rgb(172,44,36);
  border: 2px solid rgb(172,44,36);
  margin-top: 0;
  margin-bottom: 0;
  min-height: 68px;
}

.fas {
  position: relative;
  top: -25px;
  left: 80px;
  color: #ffffff;
}

.inputText {
  color: #ffffff;
}


@keyframes animate {
  0% {
    background-position: -500%;
  }

  100% {
    background-position: 500%;
  }
}